mixin list-item(employee)
  li
    img.avatar(src=employee.media_avatar)
    .name= employee.name

#join-leave

  if !left.length && !joined.length
    p No change in staff this month

  if joined.length
    h4 Joined Carrot
    ul.joined
      for employee in joined
        +list-item(employee)

  if left.length
    h4 Left Carrot
    ul.left
      for employee in left
        +list-item(employee)