extends layout

block content
  #wip
    p This page is currently a work in progress. Check back later for a more refined UI : )
  svg#graph
  #supplemental
    #legend
    #info
      p Hover your mouse over the graph to see information about who has joined and/or left carrot each month.
