#wip
  background: #333
  color: #fff
  padding: 10px 30px
  group()
  
  p
    float: left
  
  .button
    button: #EFA64F 15
    float: right
    margin-top: 5px

#graph
  group()
  position: relative
  
  .bar
    fill: transparent
  
  .dept
    transition()
    
    &:hover
      opacity: .7
    
  .axis text
    font: 10px sans-serif

  .axis path, .axis line
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;

#supplemental
  group()
  padding: 20px 30px

#legend
  float: left
  border: 1px solid #ccc
  padding: 20px
  width: 25%
  margin-right: 2%
  
  ul
    reset-list()
  
    li
      group()
      
      svg
        float: left
        margin: .6em .7em
      
      p
        float: left
        margin: .5em 0

#info
  float: left
  padding: 20px
  width: 73%
  border: 1px solid #ccc

#join-leave
  
  h4:first-child
    margin-top: 0
  
  ul
    reset-list()
    group()
    
    li
      float: left
      margin: 0 20px 20px 0
      text-align: center
  
  .avatar
    max-width: 100px
    border-radius: 50%

// department colors

.analytics
  fill: #EACBCB

.client_services
  fill: #E4BCE3

.content
  fill: #BE9ED1

.creative
  fill: #545A99

.design
  fill: #629BD8

.development
  fill: #70D1E5

.operations_and_management
  fill: #A5DBD8

.quality_assurance
  fill: #E0E4CB

.strategy
  fill: #EFA35C

.user_experience
  fill: #DB8C54